    .svg {
        flex-direction: column;
    }
    
    .navbar {
        flex-direction: column;
        flex-wrap: wrap;
    }
    
    .navbar ul li a {
        font-size: 0.7rem;
        padding: 0px 0px;
        padding-bottom: 8px;
    }
    
    .cont {
        height: 360px;
        padding: 3px 32px
    }
    
    .cont p {
        font-size: 1.1rem;
    }
    
    .cont::before {
        height: 470px;
    }
    /* ---------------------------Utility-------------------------- */
    
    .h-primary {
        font-size: 15px;
    }
    
    .h-one {
        font-size: 2.1rem;
    }
    
    .box img {
        height: 90px;
    }
    
    footer {
        font-size: 12px;
    }
    
    .clients {
        flex-wrap: wrap;
    }
    
    #contact-box form {
        width: 80%;
    }
    
    .item {
        margin: 1px 0px;
    }