* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

.navbar {
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
    z-index: 3;
}

.navbar::before {
    content: "";
    background-color: black;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.4;
}

.log {
    margin-top: -6px;
}

.log img {
    display: flex;
    width: 60px;
}

.navbar ul {
    display: flex;
    margin-top: -10px;
}

.navbar ul li {
    list-style: none;
    font-size: 1.3rem;
}

.navbar ul li a {
    color: white;
    display: block;
    padding: 3px 9px;
    border-radius: 20px;
    text-decoration: none;
    transition: 0.3s;
    font-family: 'Bebas Neue', cursive;
}

.navbar ul li a:hover {
    color: black;
    background-color: white;
}

.item {
    display: flex;
    margin: -5px 12px;
    padding: 8px;
}


/* ----------------------------------------------------------------------------------------------*/

.cont {
    /* display: flex;
    flex-direction: column;
    width: 100%;
    height: 550px;
    justify-content: center;
    align-items: center;
    font-family: 'Patua One', cursive;
    margin-top: -135px;
    padding: 2px 4px; */
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    height: 465px;
    justify-content: center;
    align-items: center;
}

.cont::before {
    content: "";
    position: absolute;
    background: url('bg1.jpg') no-repeat center center/cover;
    height: 560px;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: -1;
    opacity: 0.8;
}

.h-one {
    font-family: 'Bree Serif', serif;
    text-align: center;
    font-size: 3.6rem;
    margin: 30px 4px;
    color: white;
    text-shadow: 5px 3px 3px black;
}

.cont p {
    text-align: center;
    color: white;
    font-family: 'Goblin One', cursive;
    font-size: 1.2rem;
}

.btn {
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 8px;
    padding: 4px 7px;
    border-radius: 11px;
    background-color: black;
    color: white;
    cursor: pointer;
    font-family: 'Goblin One', cursive;
    transition: all;
    transition-duration: 0.5s;
    width: 8rem;
}

.btn:hover {
    width: 40%;
    background-color: brown;
    box-shadow: 3px 2px white;
    color: black;
    /* font-size: 15px; */
}


/* -------------------------------------Services--------------------------------------------- */

.center {
    text-align: center;
}

.services {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.svg {
    display: flex;
    margin: 25px 10px;
}

.box {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 50px;
    margin: 4px;
    padding: 5px;
    background-color: rgb(228, 228, 228);
}

.box:hover {
    display: flex;
    flex-direction: column;
    border: 5px solid;
    border-radius: 50px;
    margin: 4px;
    padding: 5px;
    background-color: rgb(94, 94, 94);
}

.box img {
    height: 130px;
    padding: 4px;
    display: block;
    margin: auto;
    border-radius: 30px;
}

.h-primary {
    /* font-family: 'Bree Serif', cursive; */
    /* font-family: 'Bebas Neue', cursive; */
    font-family: 'Alfa Slab One', system-ui;
    font-size: 2.8rem;
}


/* -------------------------------------Client Section---------------------------------- */

.client-section {
    position: relative;
}

.client-section::before {
    position: absolute;
    content: "";
    background: url('bg2.jpg');
    width: 100%;
    height: 100%;
    opacity: 0.3;
    z-index: -1;
    /* top: 3.6rem; */
}

.clients {
    display: flex;
    justify-content: center;
    align-items: center;
}

.clients img {
    height: 80px;
    /* margin: 41px 25px; */
}

.client-item {
    padding: 35px;
}


/* ------------------------------------------------------------Contact----------------------------------------------------- */

#contact {
    position: relative;
}

#contact::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url('bg3.jpg') no-repeat center center/cover;
    opacity: 0.6;
    z-index: -1;
}

#contact-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}

.form-group {
    margin: 10px;
    border-radius: 6px;
}

#contact-box textarea,
#contact-box input {
    width: 100%;
    padding: 0.5rem;
    border-radius: 6px;
    font-size: 10px;
}

#contact-box label {
    font-size: 1.3rem;
    font-family: 'Bree Serif', serif;
}

footer {
    background-color: black;
    color: white;
    padding: 8px 4px;
}